<div tabindex="-1" role="dialog" class="modal fade in confirm-delete-modal" data-delete-modal="" data-delete-action="<%= user_path(id: '') %>">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Delete User</h2>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <i class="ss-icon ss-delete"></i>
          </button>
        </div>
        <div class="modal-body">
          <h3>Are you sure?</h3>
          <p>You will not get this user back. Gone forever.</p>
        </div>
        <div class="modal-footer">
          <%= form_for('', url: user_path(id: ''), method: 'delete') do |f| %>
              <button type="button" class="btn btn-outlined" data-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-default">
                Delete User
              </button>
          <% end %>
        </div>
    </div>
  </div>
</div>
