<div class="container">
  <header class="page-header">
    <h1>User Manager</h1>
  </header>
<% if @user %>
  <section id="user-new" class="panel panel-primary">
    <div class="panel-heading"><h2>Edit User</h2></div>
    <div class="panel-body">
      <div>
        <%= form_for(:user, url: { action: "update" }, format: :json, method: :put) do |f| %>
           <div class="row form-group">
            <div class="col-xs-2"><label for="name">Name</label></div>
            <div class="col-xs-10"><%= f.text_field :name %></div>
          </div>
          <div class="row form-group">
            <div class="col-xs-2"><label for="email">Email</label></div>
            <div class="col-xs-10"><%= f.text_field :email %></div>
          </div>
          <div class="row form-group">
            <div class="col-xs-2"><label for="email">Password</label></div>
            <div class="col-xs-10"><%= f.text_field :password %></div>
          </div>
          <div class="row form-group">
            <div class="col-xs-2"><label>Permissions</label></div>
            <div class="col-xs-10">
              <input type="checkbox" name="read" <%= 'checked' if @permissions.read %>/>
              <label for="read">Read</label>
              <input type="checkbox" name="write" <%= 'checked' if @permissions.write %> />
              <label for="write">Write</label>
              <input type="checkbox" name="trash" <%= 'checked' if @permissions.trash %> />
              <label for="trash">Delete</label>
            </div>
          </div>
          <div class="row">
             <div class="col-xs-12">
               <button type="submit" class="btn btn-primary">Update User</button>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </section>
  <% else %>
    No such user exists.
  <% end %>
</div>