<% if @users_permissions_list %>
<div class="container">
  <header class="page-header">
    <h1>User Manager</h1>
  </header>
  <% if !flash.empty? %>
    <div class="panel panel-warning">
        <% flash.keys.each do |k| %>
            <div class="panel-heading">
              <h4>Notice:</h4><%= flash[k] %>
            </div>
        <% end %>
    </div>
  <% end %>
  <section id="user-new" class="panel panel-primary">
    <div class="panel-heading"><h2>Create New User</h2></div>
    <div class="panel-body">
      <div class="container">
        <%= form_for(:user, url: { action: "create" }, format: :json, method: :post) do |f| %>
          <div class="row form-group">
            <div class="col-xs-2"><label for="name">Name</label></div>
            <div class="col-xs-10"><%= f.text_field :name %></div>
          </div>
          <div class="row form-group">
            <div class="col-xs-2"><label for="email">Email</label></div>
            <div class="col-xs-10"><%= f.text_field :email %></div>
          </div>
          <div class="row form-group">
            <div class="col-xs-2"><label for="email">Password</label></div>
            <div class="col-xs-10"><%= f.text_field :password %></div>
          </div>
          <div class="row form-group">
            <div class="col-xs-2"><label>Permissions</label></div>
            <div class="col-xs-10">
              <input type="checkbox" name="read" />
              <label for="read">Read</label>
              <input type="checkbox" name="write" />
              <label for="write">Write</label>
              <input type="checkbox" name="trash" />
              <label for="trash">Delete</label>
            </div>
          </div>
          <div class="row">
             <div class="col-xs-12">
               <button type="submit" class="btn btn-primary">Create New User</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section id="user-list"  class="panel panel-primary">
    <div class="panel-heading"><h2>User List</h2></div>
    <div class="panel-body">
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Read</th>
            <th>Write</th>
            <th>Delete</th>
            <th></th>
          </tr>
        </thead>
        <% @users_permissions_list.each do |user|  %>
        <tr>
          <td class="col-xs-2"><%= user[0].name %></td>
          <td class="col-xs-2"><%= user[0].email %></td>
          <td class="col-xs-1"><span class="glyphicon <% if user[1].read %>glyphicon-ok<% else %>glyphicon-remove<% end %>"></span></td>
          <td class="col-xs-1"><span class="glyphicon <% if user[1].write %>glyphicon-ok<% else %>glyphicon-remove<% end %>"></td>
          <td class="col-xs-1"><span class="glyphicon <% if user[1].trash %>glyphicon-ok<% else %>glyphicon-remove<% end %>"></td>
          <td class="col-xs-2">
            <div  style="display: flex;">
              <a href="<%= edit_user_path(user[0].id) %>" class="btn btn-default" style="margin-right: 10px;">Edit</a>
              <%= form_for('', url: user_path(user[0].id), method: 'delete') do |f| %>
                <button type="submit" class="btn btn-default">Delete</button>
              <% end %>
            </div>
              <!-- TODO: get confirm modal working<a title="delete" data-toggle="modal" data-target=".confirm-delete-modal"
              data-user-id="<%= user[0].id %>" data-delete>Delete</a>-->
          </td>
        </tr>
        <% end %>
      <% end %>
      </table>
    </div>
  </section>
  <%= render partial: 'confirm_delete_modal' %>
</div>